
<div class="bg-black w-full h-screen md:w-[80px] flex flex-col justify-between items-center py-6 relative">
  <div class="flex flex-col items-center gap-6 text-white text-xl">
    <i class="fa-solid fa-bars"></i>
    <i class="fa-brands fa-rocketchat"></i>
    <i class="fa-solid fa-phone-volume"></i>
    <i class="fa-solid fa-circle-notch"></i>
  </div>

  <div class="flex flex-col items-center gap-6 text-white text-xl relative">
    <i class="fa-regular fa-star"></i>
    <i class="fa-solid fa-box-archive"></i>
    <i class="fa-solid fa-gear"></i>
    <!-- @if(profileSignalService.getProfilePic().profilePic!='' && profileSignalService.getProfilePic().profilePic){ -->
      @if(profileSignalService.getProfilePic().profileUrl!='' && profileSignalService.getProfilePic().profileUrl){
   <!-- <img [src]="profileSignalService.getProfilePic().profilePic" 
           class="w-5 h-5 rounded-full mb-2 border-2 border-white shadow-lg cursor-pointer" 
           alt="User Profile" (click)="openProfile()"/> -->
             <img [src]="profileSignalService.getProfilePic().profileUrl" 
           class="w-5 h-5 rounded-full mb-2 border-2 border-white shadow-lg cursor-pointer" 
           alt="User Profile" (click)="openProfile()"/>
    }@else {
    <i class="fa-solid fa-user cursor-pointer" (click)="openProfile()"></i>
    }
    
  </div>
</div>

<!-- Slide-in Profile Panel -->
 
 @if(showProfilePanel){
  <app-profile (close)="closeProfile()"></app-profile>
 }





