/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"); */
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* @import"../node_modules/font-awesome/css/font-awesome.css"; */
/* @import "~@fortawesome/fontawesome-free/css/all.min.css"; */



@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
emoji-mart {
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  border-radius: 10px;
}

body {
  overflow: hidden; /* WhatsApp style */
}
